<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-facebook-sdk"
        version="4.7.1">
      
    <name>Facebook SDK for Cordova</name>
    <description>Add Facebook SDK to Cordova porject, as dependency for other plugins</description>
    <author>Facebook</author>
    <keywords>rjfun,cordova,facebook,sdk</keywords>
    <repo>https://github.com/floatinghotpot/cordova-facebook-sdk.git</repo>
    <issue>https://github.com/floatinghotpot/cordova-facebook-sdk/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.0" />
    </engines>

    <platform name="android">
        <config-file target="AndroidManifest.xml" parent="/*">
            <!-- add to manifest header: xmlns:tools="http://schemas.android.com/tools" -->
            <uses-sdk tools:overrideLibrary="com.facebook"/>
        </config-file>
        <resource-file src="src/android/facebook-android-sdk-4.7.0.aar" target="libs/facebook-android-sdk-4.7.0.aar"/>
        <framework src="src/android/fb-sdk.gradle" custom="true" type="gradleReference" />
     </platform>
     
    <platform name="amazon-fireos">
        <!-- amazon-fireos still using ant, so maybe this will not work -->
        <resource-file src="src/android/facebook-android-sdk-4.7.0.aar" target="libs/facebook-android-sdk-4.7.0.aar"/>
        <framework src="src/android/fb-sdk.gradle" custom="true" type="gradleReference" />
/>
     </platform>

     <platform name="ios">
         <framework src="src/ios/Bolts.framework" custom="true" />
         <framework src="src/ios/FBSDKCoreKit.framework" custom="true" />
         <framework src="src/ios/FBSDKLoginKit.framework" custom="true" />
         <framework src="src/ios/FBSDKMessengerShareKit.framework" custom="true" />
         <framework src="src/ios/FBSDKShareKit.framework" custom="true" />
         <resource-file src="src/ios/FacebookSDKStrings.bundle"/>
    </platform>

</plugin>
